@import '../../styles/main.scss';

.leftSidebar {
  display: none;

  @media (min-width: 768px) {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 1rem;
    padding-top: 2rem;
    border: 1px solid $card_background;
    position: sticky;
    top: 0;
    height: 100vh;
    max-width: 25%;
    width: 100%;
    overflow-y: auto;

     /* Styling the scrollbar */
     &::-webkit-scrollbar {
      width: 10px; // Scrollbar width
      background-color: #1A1A1A; // Track background color
    }

    &::-webkit-scrollbar-thumb {
      background-color: $primary_nav; // Thumb color
      border-radius: 5px;  // Rounded corners for thumb
      border: 2px solid transparent; // Space around the thumb
      background-clip: content-box;  // Ensures the border stays outside the thumb
    }

    &::-webkit-scrollbar-thumb:hover {
      background-color: $link_text;  // Change thumb color when hovered
    }

    &::-webkit-scrollbar-track {
      background: #1A1A1A; // Track background color
      border-radius: 10px;  // Rounded corners for track
    }

    /* Optional: Customize the scroll bar on focus */
    &:focus-within {
      &::-webkit-scrollbar-thumb {
        background-color: $primary_button; // Thumb color when focused
      }
    }
  }

  @media (min-width: 1024px) {
    padding: 1.5rem;
  }

  @media (min-width: 1440px) {
    padding: 2rem;
  }

  

  .forumHeader {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem;
    margin-bottom: 2rem;
    font-size: 2.5rem;
    font-weight: 600;
    color: #A16E4A;
    background: linear-gradient(135deg, rgba(161, 110, 74, 0.1), rgba(161, 110, 74, 0.3));
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
    width: 100%;

    .logo {
      width: 3.5rem;
      height: 3.5rem;
      transition: transform 0.3s ease-in-out;

      &:hover {
        transform: scale(1.1);
      }
    }

    &:hover {
      background: linear-gradient(135deg, rgba(161, 110, 74, 0.3), rgba(161, 110, 74, 0.4));
      box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    }

    .forumTitle {
      @include poppins-font;
      font-weight: bold;
      font-size: 2rem;
      margin: 0;
    }

    @media (min-width: 768px) {
      padding: 1rem;
      font-size: 2rem;
      margin-bottom: 1.5rem;
      background: linear-gradient(135deg, rgba(161, 110, 74, 0.2), rgba(161, 110, 74, 0.4));
      box-shadow: 0 5px 7px rgba(0, 0, 0, 0.2);
  
      .logo {
        width: 2.5rem;
        height: 2.5rem;
  
        &:hover {
          transform: scale(1.05);
        }
      }
  
      .forumTitle {
        font-size: 1rem;
      }
    }

    @media (min-width: 1024px) {
      margin-bottom: 1.5rem;
      font-size: 1rem;
      background: linear-gradient(135deg, rgba(161, 110, 74, 0.1), rgba(161, 110, 74, 0.2));
      box-shadow: 0 3px 5px rgba(0, 0, 0, 0.15);

      .logo {
        width: 3rem;
        height: 3rem;
        margin-right: 0.5rem;

        &:hover {
          transform: scale(1.05);
        }
      }

      .forumTitle {
        font-size: 1.2rem;
      }
    }

    @media (min-width: 1440px) {
      margin-bottom: 2rem;
      background: linear-gradient(135deg, rgba(161, 110, 74, 0.1), rgba(161, 110, 74, 0.2));
      box-shadow: 0 3px 5px rgba(0, 0, 0, 0.15);

      .logo {
        width: 4rem;
        height: 4rem;
        margin-right: 1rem;

        &:hover {
          transform: scale(1.05);
        }
      }

      .forumTitle {
        font-size: 2rem;
      }
    }

  }

  .linksContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 0.5rem;

    .navLink {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      color: $primary_nav;
      text-decoration: none;
      font-size: 1.4rem;
      padding: 1rem 1.5rem;
      border-radius: 1rem;
      transition: background-color 0.3s ease, color 0.3s ease, padding 0.3s ease;

      

      &:hover {
        color: $link_text;
        background-color: rgba(0, 0, 0, 0.2);
        padding: 1.2rem 1.6rem;
      }

      i {
        font-size: 1.4rem;
        margin-right: 0.8rem;
      }
    }

    .activeLink {
      color: $link_text;
      background-color: rgba(0, 0, 0, 0.2);
      padding: 1.2rem 1.6rem;
    }

    @media (min-width: 768px) {
      .navLink {
        font-size: 1rem;
        padding: 1rem 1.5rem;

        i {
          font-size: 1rem;
        }
      }

      .activeLink {
        padding: 1.3rem 1.8rem;
      }
    }

    @media (min-width: 1024px) {
      .navLink {
        font-size: 1.2rem;
        padding: 1rem 0.5rem;

        i{
          font-size: 1.2rem;
        }
      }
      
      .activeLink {
        padding: 1.2rem 1rem;
      }
    }

    @media (min-width: 1440px) {
      .navLink {
        font-size: 1.5rem;
        padding: 1rem 0.5rem;

        i{
          font-size: 1.5rem;
        }
      }
      
      .activeLink {
        padding: 1.5rem 1rem;
      }
    }
  }

  .postButtonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 2rem;
    width: 100%;

    .postButton {
      width: 100%;
      border-radius: 2rem;
      background-color: $primary_button;
      border: none;
      font-size: 1.2rem;
      padding: 1rem 2.5rem;
      
      transition: all 0.3s ease-in-out;

      @include lato-font;
      font-weight: bold;
      cursor: pointer;

      &:hover {
        background-color: $hover_button;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
        transform: translateY(-4px);
      }

      &:active {
        transform: translateY(2px);
      }

      &:focus {
        outline: none;
        box-shadow: 0 0 0 2px rgba($primary_button, 0.5);
      }
    }

    @media (min-width: 768px) {
      .postButton {
        font-size: 0.7rem;
        padding: 0.8rem 1.5rem;
      }
    }

    @media (min-width: 1024px) {
      .postButton {
        font-size: 1rem;
        padding: 0.5rem;
      }
    }

    @media (min-width: 1440px) {
      .postButton {
        font-size: 1.2rem;
        padding: 0.7rem;
      }
    }
  }

  .profileContainer {
    display: flex;
    align-items: center;
    margin-top: auto;
    margin-bottom: 0.5rem;
    color: $link_text;
    text-decoration: none;
    font-size: 1.3rem;
    width: 100%;
    border-radius: 1rem;
    transition: background-color 0.3s ease, padding 0.3s ease;

    &:hover {
      background-color: rgba(0, 0, 0, 0.2);
      padding: 0.5rem;

      @media (min-width: 1440px) {
        padding: 1rem;
      }
    }

    .profilePic {
      width: 3rem;
      height: 3rem;
      border-radius: 50%;
      margin-right: 0.5rem;
      object-fit: cover;
    }

    .optionsButtonProfile {
      background-color: transparent;
      border: none;
      margin-left: auto;
      cursor: pointer;

      i {
        font-size: 1.3rem;
        color: $link_text;
        transition: color 0.3s ease;

        &:hover {
          color: $primary_button;
        }
      }

      @media (min-width: 1024px) {
        padding: 0.2rem;
      }

      @media (min-width:1440px ) {
        padding: 0.5rem;
      }
    }

    @media (min-width: 768px) {
      font-size: 0.8rem;
      
      .profilePic {
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
        object-fit: cover;
      }
    }

    @media (min-width: 1024px) {
      font-size: 1.2rem;

      .profilePic{
        width: 2rem;
        height: 2rem;
      }
    }

    @media (min-width: 1440px) {
      font-size: 1.5rem;

      .profilePic{
        width: 3rem;
        height: 3rem;
        margin-right: 1rem;
      }
    }
  }
}