@import '../../styles/main.scss';

.leftSidebar {
  display: none;

  @media (min-width: 768px) {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 2rem;
    border: 1px solid $card_background;
    position: sticky;
    top: 0;
    height: 100vh;
    max-width: 30%;
    width: 100%;
  }

  .forumHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;
    margin-bottom: 2rem;
    font-size: 2.5rem;
    font-weight: 600;
    color: #A16E4A;
    background: linear-gradient(135deg, rgba(161, 110, 74, 0.1), rgba(161, 110, 74, 0.3));
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;

    .logo {
      width: 3.5rem;
      height: 3.5rem;
      margin-right: 1rem;
      transition: transform 0.3s ease-in-out;

      &:hover {
        transform: scale(1.1);
      }
    }

    &:hover {
      background: linear-gradient(135deg, rgba(161, 110, 74, 0.3), rgba(161, 110, 74, 0.4));
      box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    }

    .forumTitle {
      @include poppins-font;
      font-weight: bold;
      font-size: 2rem;
      margin: 0;
    }

    @media (min-width: 768px) {
      padding: 1rem;
      font-size: 2rem;
      margin-bottom: 1.5rem;
      background: linear-gradient(135deg, rgba(161, 110, 74, 0.2), rgba(161, 110, 74, 0.4));
      box-shadow: 0 5px 7px rgba(0, 0, 0, 0.2);
  
      .logo {
        width: 3rem;
        height: 3rem;
  
        &:hover {
          transform: scale(1.05);
        }
      }
  
      .forumTitle {
        font-size: 1rem;
      }
    }

    @media (min-width: 1024px) {
      padding: 1rem 2rem;
      margin-bottom: 1.5rem;
      font-size: 1rem;
      background: linear-gradient(135deg, rgba(161, 110, 74, 0.1), rgba(161, 110, 74, 0.2));
      box-shadow: 0 3px 5px rgba(0, 0, 0, 0.15);

      .logo {
        width: 3rem;
        height: 3rem;

        &:hover {
          transform: scale(1.05);
        }
      }

      .forumTitle {
        font-size: 1.5rem;
      }
    }

  }

  .linksContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 0.5rem;

    .navLink {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      color: $primary_nav;
      text-decoration: none;
      font-size: 1.4rem;
      padding: 1rem 1.5rem;
      border-radius: 1rem;
      transition: background-color 0.3s ease, color 0.3s ease, padding 0.3s ease;

      &:hover {
        color: $link_text;
        background-color: rgba(0, 0, 0, 0.2);
        padding: 1.2rem 1.6rem;
      }

      i {
        font-size: 1.4rem;
        margin-right: 0.8rem;
      }
    }

    .activeLink {
      color: $link_text;
      background-color: rgba(0, 0, 0, 0.2);
      padding: 1.2rem 1.6rem;
    }

    @media (min-width: 768px) {
      .navLink {
        font-size: 1rem;
        padding: 1.2rem 1.8rem;

        i {
          font-size: 1rem;
        }
      }

      .activeLink {
        padding: 1.3rem 1.8rem;
      }
    }

    @media (min-width: 1024px) {
      .navLink {
        font-size: 1rem;
        padding: 1rem 0.5rem;
      }

      .activeLink {
        padding: 1.5rem 1rem;
      }
    }
  }

  .postButtonContainer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 1.5rem;
    width: 100%;

    .postButton {
      width: 100%;
      border-radius: 2rem;
      background-color: $primary_button;
      border: none;
      max-width: 300px;
      font-size: 1.2rem;
      padding: 1rem 2.5rem;
      font-weight: bold;
      cursor: pointer;
      transition: all 0.3s ease-in-out;

      &:hover {
        background-color: $hover_button;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
        transform: translateY(-4px);
      }

      &:active {
        transform: translateY(2px);
      }

      &:focus {
        outline: none;
        box-shadow: 0 0 0 2px rgba($primary_button, 0.5);
      }
    }

    @media (min-width: 768px) {
      .postButton {
        font-size: 1rem;
        padding: 0.8rem 1.5rem;
        max-width: 350px;
      }
    }

    @media (min-width: 1024px) {
      .postButton {
        font-size: 1rem;
        padding: 0.5rem 1rem;
        max-width: 400px;
      }
    }
  }

  .profileContainer {
    display: flex;
    align-items: center;
    margin-top: auto;
    margin-bottom: 0.5rem;
    color: $link_text;
    text-decoration: none;
    font-size: 1.3rem;
    width: 100%;
    border-radius: 1rem;
    transition: background-color 0.3s ease, padding 0.3s ease;

    &:hover {
      background-color: rgba(0, 0, 0, 0.2);
    }

    .profilePic {
      width: 3rem;
      height: 3rem;
      border-radius: 50%;
      margin-right: 1rem;
      object-fit: cover;
    }

    .optionsButtonProfile {
      background-color: transparent;
      border: none;
      margin-left: auto;
      cursor: pointer;

      i {
        font-size: 1.3rem;
        color: $link_text;
        transition: color 0.3s ease;

        &:hover {
          color: $primary_button;
        }
      }
    }

    @media (min-width: 768px) {
      font-size: 0.8rem;
      
      .profilePic {
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
        object-fit: cover;
      }
  
    }

    @media (min-width: 1024px) {
      font-size: 1rem;
    }
  }
}