@import '../../styles/main.scss';

.navbarContainer{
  background-color: $primary_background;
  display: flex;
  align-items: center;
  padding: 0.5rem 0;

  .brandImage {
    margin-left: 1rem;
    width: 2rem;
    height: 2rem;
    padding: 0;
  }

  .menu{
    justify-content: flex-end;
    width: 100%;
    gap: 0.2rem;
    padding: 0 0.7rem;
    align-items: center;

    .navLink{
      color: #4e4e4e;
  
      &:hover{
        color: $link_text;
      }

      &:focus{
        color: $link_text;
      }

      .nav-link, .active{
        color: $link_text !important;
      }
      &.active{
        color: $link_text !important;
      }
    }



    i{
      font-size: 1.5rem;
    }
  }

  .navbar-nav{
    justify-content: space-between;
  }
}

.navbar-expand{
  justify-content: space-between !important;

}

.profilePicture{
  width: 2rem;
  height: 2rem;
  border-radius: 1rem;
  border: 2px solid $primary_border;
  cursor: pointer;

  // inactive
  &.dropdown-toggle{
    color: $primary_border;
  }

  // active
  &.dropdown-toggle:focus,
  &.dropdown-toggle.show{
    color: $link_text;
  }
}

.navbarContainer .menu .navLink.active {
  color: $link_text !important;
}

.navbar-expand .navbar-nav .dropdown-menu{
  background-color: $ternary_background !important;
  color: $primary_text !important;

  .dropdown-item{
    &:hover{
      background-color: $primary_background;
      color: $primary_text;
    }
    &:focus{
      background-color: $primary_background;
      color: $primary_text;
    }
    &.active{
      background-color: $primary_background;
      color: $primary_text;
    }
  }
}

.navbar {
  --bs-navbar-active-color: #A16E4A;
}
