@import './styles/main.scss';

html{
  &::-webkit-scrollbar {
    width: 10px;
    background-color: #1A1A1A;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $primary_nav;
    border-radius: 5px;
    border: 2px solid transparent;
    background-clip: content-box;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: $link_text;
  }

  &::-webkit-scrollbar-track {
    background: #1A1A1A;
    border-radius: 10px;
  }

  
  &:focus-within {
    &::-webkit-scrollbar-thumb {
      background-color: $primary_button;
    }
  }
}